<!--<main role="main" >-->

      <div class="jumbotron text-center">
        <h1>Welcome on Survey site</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
        <a class="btn btn-primary" [routerLink]="['/login']">Login</a>

      </div>
<div class="row">
  <div class = "col-md-4">
    <h3>Create servey</h3>
    <p>Here you can make your own servey. </p>
  </div>
  <div class = "col-md-4">
    <h3>Create servey</h3>
    <p>Here you can make your own servey. </p>
  </div>
  <div class = "col-md-4">
    <h3>Create servey</h3>
    <p>Here you can make your own servey. </p>
  </div>


</div>

<!--  </main> -->
